{% extends "base.html" %}

{% load static %}

{% block content %}





  <div class="container">
    <div class="row">
      <div class="col-8 offset-4">
          <div class="card-header">
            <h1 class="text-center">Login</h1>
          </div>

          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              <label>First Name</label>
              <input class="form-control" type="text" name="first_name">

              <label class="mt-4">Last Name</label>
              <input class="form-control" type="text" name="last_name">

              <label class="mt-4">Number</label>
              <input class="form-control" type="text" name="phone_number">

        




              <button type="submit" class="btn btn-outline-primary btn-block mt-4">Submit</button>
            </form>
          </div>
        </div>
    </div>
  </div>






{% endblock %}
